*.mp4
jelekOpenCV-Playing-Card-Detector/
/jelekOpenCV-Playing-Card-Detector/
/jelekOpenCV-Playing-Card-Detector
OpenCV-Playing
Agus
jelekOpenCV-Playing-Card-Detector
PokerCard/dataset/KH.png
dataset/
PokerCard/kuliah/blackjack?.py
